<h2>Hello Release</h2>

<table align="left" border="1" cellpadding="1" cellspacing="1">
	<caption><strong>International Names</strong></caption>
	<tbody>
		<tr>
			<td>Chinese</td>
			<td><em>小紅帽</em></td>
		</tr>
		<tr>
			<td>Italian</td>
			<td><em>Cappuccetto Rosso</em></td>
		</tr>
		<tr>
			<td>Spanish</td>
			<td><em>Caperucita Roja</em></td>
		</tr>
		<tr>
			<td>Portuguese</td>
			<td><em>Chapeuzinho Vermelho</em></td>
		</tr>
	</tbody>
</table>
